<h4><a href="/">&lt; Back to home</a></h4>
{{#if errors}}
    <div class="errors-container">
    {{#each errors}}
        <div class="error_msg">{{msg}}</div>
    {{/each}}
    </div>
{{/if}}
<form action="/register" method="post">
    <div class="form-field">
        <label for="name">Name:</label>
        <input type="text" id="name "name="name"/>
    </div>
    <div class="form-field">
        <label for="username">Username:</label>
        <input type="text" id="username "name="username"/>
    </div>
    <div class="form-field">
        <label for="email">Email:</label>
        <input type="text" id="email "name="email"/>
    </div>
    <div class="form-field">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
    </div>
    <div class="form-field">
        <label for="passwordConfirm">Confirm password:</label>
        <input type="password" id="passwordConfirm" name="passwordConfirm"/>
    </div>
    <div class="form-field">
        <input type="submit" value="Register"/>
    </div>
</form>